* {
  font-family: "poppins";
}
body {
  background-color: orangered;
}
.navbar {
  background-color: orangered;
}
.container {
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.pokemon-card {
  transition: transform 0.2s ease-in-out;
}
.pokemon-card:hover {
  transform: scale(1.05);
}
.type-badge {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #333;
}

.poki-image {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 20px;
}

@media only screen and (max-width: 600px){
	.type-badge {
    font-size: 10px;
  }
  .poki-image {
    padding: 8px;
    margin-left: 50px;
    width: 90px;
    margin-top: 2px;
  }
  .poki-image img {
    height: 55px;
    justify-content: end;
  }
}


